/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
// @include font-face("ArialMT", fonts/CenturyGothic, normal, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';
@import 'core/template';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/header';



.fifteen {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: $color_info;
	@extend %clear_a;
}

.fifteen__item {
	float: left;
	background-color: darken($color_info, 20%);
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	border: 1px solid #fff;

	width: 100%;
	height: auto;
	line-height: 1.3;
}
